<!DOCTYPE html>
<head>
    <title>RVCTF Team Choice</title>
    <link rel="stylesheet" href="../static/style_register.css">
</head>
<body>
    <div id='stars' class="star_anim"></div>
    <div id='stars2' class="star_anim"></div>
    <div id='stars3' class="star_anim"></div>
    <div class="header">Do you have a team?</div>
    <div style="height: 500px;">
    <table class="centre_box">
        <form action="#">
            <tr>
                <td><button class="button" type="submit">Create Team</button></td>
            </tr>
            <tr>
                <td><button class="button" type="submit">Join Team</button></td>
            </tr>
        </form>
    </table>
    </div>
    <p>Made in collaboration with Rdev</p>
</body>
</html>
