<!DOCTYPE html>
<head>
    <title>CreateTeamMsg</title>
</head>
<body>
    <div>Create Team</div>
    <form action="">
        <div class="centre_box">
            <div>
                <p>
                    Team has already been created. Do request for the password from the the team leader (name) and join the team @ (team).
                </p>
            </div>
            <button class="button" type="submit">Join Team</button>
            </div>
        </div>
    </form>
</body>
</html>
