<!DOCTYPE html>
<html lang="en">
<head>
    <title>RVCTF</title>
    <link rel="stylesheet" href="../static/style_register.css">
</head>
<body>
    <div><h1>Register</h1></div>
    <form action="">
        <div class="centre_box">
            <div>
                <p>Username: <input type="text" name="register_username"></p>
            </div>
            <div>
                <p>Password: <input type="password" name="register_password" width="auto" height="auto"></p>
            <div>
            <div>
                <p>Confirm password: <input type="password" name="register_password2" width="auto" height="auto"></p>
            <div>
            
        </div>
        <div>
            <button class="button" type="submit">Enter</button>
        </div>
    </form>
    <p>Made in collaboration with Rdev</p>
</body>
</html>