@font-face {
    font-family: bodyText;
    src: url('../../static/fonts/VT323-Regular.ttf');
}
#rdev-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
.rdev-footer-text {
    color: white;
    font-family: bodyText;
    font-size: 1.5rem;
    text-align: center;
}