@font-face {
    font-family: header_font;
    src: url(static/fonts/VT323-Regular.ttf);
}
/* Css for overall header */
#header-container {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    font-family: header_font;
    color: var(--textColor)
}

/* CSS for social media */
#header-social-media {
    display: flex;
    gap: 5%;
    align-items: center;
    justify-content: center;
}

#header-social-media a {
    text-align: center;
    width: 40%;
}
#header-social-media a img {
    width: 40%;
}

/* CSS for CTF logo link */
#cca_name {
    width: 60%;
}

/* CSS for links */
#current-page {
    text-decoration: underline;
}

#links {
    border-collapse: collapse;
    border-style: hidden;
}

#links td {
    font-size: 1.5rem;
    text-decoration: none;
    padding: 0.5rem;
    border: 3px solid var(--textColor);
    color: var(--textColor);
    text-align: center;
}

.header_link {
    text-decoration: none;
    color: var(--textColor);
}
