body{
    font-family: 'Montserrat', sans-serif;
    background-image: url(../images/map_background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    /* background-color: rgb(0, 0, 4); */
    color: var(--textColor);
}


#content{
    background-color: rgba(52, 58, 64, 0.9);
    border: 0.2em solid #e6e6e6;
    width: 70vw;
    margin-top: 2em;
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
}

h1{
    margin: 0.2em;
}


label{
    display: inline-block;
    font-weight: bold;
    margin-right: 0.5em;
    margin-bottom: 0.5em;
}

form{
    display: flex;
    flex-flow: row wrap;
}

#email{
    width: 76%;
    min-width: 100px;
    border: 0.1em solid var(--textColor);
    height: 2.5em;
    min-width: 175px;
}

input{
    font-family: 'Montserrat', sans-serif;
    display: inline;
    margin: 0.5em;
}


#submit{
    width: 20%;
    height: 2.5em;
}

.submit{
    border: 0.07em solid var(--textColor);
    background-color:#0a0a23;
    color: var(--textColor);
    min-width: max-content;
}

p, label{
    color: white;
    font-weight: normal;
    text-align: center;
}

#confirm{
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.5em;
    width: 15%;
    height: 2em;
}
