body{
    width:50vw;
    height:60vw;
    margin:auto;
    padding:auto;
    background-image: url(../images/map_background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Montserrat', sans-serif;    
}

#content{
    background-color:#04121cce;
    padding: 1rem;
    box-shadow: 1rem 1rem 0.5rem var(--secondaryColor1);
    border-radius: 10px;
}

.dropbtn{
    padding:0.5em;
    width:9em;
    height:1em;
    background-image: linear-gradient(to right, var(--secondaryColor2) , var(--secondaryColor1));
    text-align:center;
    border: 1px solid white;
    color:var(--primaryColor);
}

.dropbtn:hover{
    cursor:pointer;
}

#dropdown-content{
    display:none;
}

.dropdown{
    margin:0.5rem;
}

#dd_content{
    padding:0.5em;
    width:9em;
    height:1em;
    background-image: linear-gradient(to right, var(--secondaryColor2) , var(--secondaryColor1));
    text-align:center;
    border: 1px solid white;
    color:var(--primaryColor);
}

h1{
    font-family: 'Saira Stencil One', cursive;
}