<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Challenges</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <a href="https://www.instagram.com/rv.ctf/"><img src="../static/images/instagram.png" id="IG_logo"></a>
    <a href="https://discord.gg/uagKpY6c"><img src="../static/images/discord.png" id="discord_logo"></a>
    <img src="../static/images/RVCTF_CCA_Name.png" id="cca_name">

    <div id="header">
        <div id="chals_header">Challenges</div> | <div id="res_header"><a href="https://www.google.com" id="res_header_link">Resources</a></div>
    </div>
    <h1 class="topic_header">Forensics</h1>
    <div class="challenge_container">
        <table class="challenge_widget">
            <tr class="name_div"><td class="name">NAME</td></tr>
            <tr class="points_div"><td class="points">POINTS | DIFFICULTY</td></tr>
            <tr class="author_div"><td class="author">AUTHOR</td></tr>
        </table>
        <table class="challenge_widget">
            <tr class="name_div"><td class="name">NAME</td></tr>
            <tr class="points_div"><td class="points">POINTS | DIFFICULTY</td></tr>
            <tr class="author_div"><td class="author">AUTHOR</td></tr>
        </table>
        <table class="challenge_widget">
            <tr class="name_div"><td class="name">NAME</td></tr>
            <tr class="points_div"><td class="points">POINTS | DIFFICULTY</td></tr>
            <tr class="author_div"><td class="author">AUTHOR</td></tr>
        </table>
        <table class="challenge_widget">
            <tr class="name_div"><td class="name">NAME</td></tr>
            <tr class="points_div"><td class="points">POINTS | DIFFICULTY</td></tr>
            <tr class="author_div"><td class="author">AUTHOR</td></tr>
        </table>
        <table class="challenge_widget">
            <tr class="name_div"><td class="name">NAME</td></tr>
            <tr class="points_div"><td class="points">POINTS | DIFFICULTY</td></tr>
            <tr class="author_div"><td class="author">AUTHOR</td></tr>
        </table>
        <table class="challenge_widget">
            <tr class="name_div"><td class="name">NAME</td></tr>
            <tr class="points_div"><td class="points">POINTS | DIFFICULTY</td></tr>
            <tr class="author_div"><td class="author">AUTHOR</td></tr>
        </table>
        <table class="challenge_widget">
            <tr class="name_div"><td class="name">NAME</td></tr>
            <tr class="points_div"><td class="points">POINTS | DIFFICULTY</td></tr>
            <tr class="author_div"><td class="author">AUTHOR</td></tr>
        </table>
        <table class="challenge_widget">
            <tr class="name_div"><td class="name">NAME</td></tr>
            <tr class="points_div"><td class="points">POINTS | DIFFICULTY</td></tr>
            <tr class="author_div"><td class="author">AUTHOR</td></tr>
        </table>
    </div>
    <h1 class="topic_header">Cryptography</h1>
    <div class="challenge_container">
        
    </div>
    <h1 class="topic_header">Web Exploit</h1>
    <div class="challenge_container">
        
    </div>
    <h1 class="topic_header">Reverse Engineering</h1>
    <div class="challenge_container">
        
    </div>
    <h1 class="topic_header">PWN</h1>
    <div class="challenge_container">
        
    </div>
    <h1 class="topic_header">OSINT</h1>
    <div class="challenge_container">
        
    </div>
    
</body>
</html>