<!DOCTYPE html>
<html lang="en">
<head>
    <title>RVCTF Register</title>
    <link rel="stylesheet" href="../static/style_register.css">
</head>
<body>
    <div id='stars' class="star_anim"></div>
    <div id='stars2' class="star_anim"></div>
    <div id='stars3' class="star_anim"></div>
    <div class="header">Register</div>
    <div style="height: 500px;">
    <table class="centre_box">
        <form action="#">
            <tr>
                <td>Username: <input type="text" name="register_username"></td>
            </tr>
            <tr>
                <td>Password: <input type="password" name="register_password" width="auto" height="auto"></td>
            </tr>
            <tr>
                <td>Confirm password: <input type="password" name="register_password2" width="auto" height="auto"></td>
            </tr>
            <tr>
                <td><button class="button" type="submit">Enter</button></td>
            </tr>
        </form>
    </table>
    </div>
    <p>Made in collaboration with Rdev</p>
</body>
</html>